body {
    background-color: bisque;
}

.center {
    text-align: center;
    overflow: hidden;
}

.canvas {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 700px;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
